In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
%matplotlib inline

In [2]:
telecom = pd.read_csv('Telco_Customer_Churn.csv')

In [3]:
telecom.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [4]:
Gender = pd.get_dummies(telecom['gender'],drop_first=True)
partner = pd.get_dummies(telecom['Partner'],drop_first=True)
dependents = pd.get_dummies(telecom['Dependents'],drop_first=True)
Phone_service = pd.get_dummies(telecom['PhoneService'],drop_first=True)
multiple_lines = pd.get_dummies(telecom['MultipleLines'],drop_first=True)
internet = pd.get_dummies(telecom['InternetService'],drop_first=True)
online_sec = pd.get_dummies(telecom['OnlineSecurity'],drop_first=True)
online_backup = pd.get_dummies(telecom['OnlineBackup'],drop_first=True)
device_protect = pd.get_dummies(telecom['DeviceProtection'],drop_first=True)
tech_support = pd.get_dummies(telecom['TechSupport'],drop_first=True)
st_tv = pd.get_dummies(telecom['StreamingTV'],drop_first=True)
st_movies = pd.get_dummies(telecom['StreamingMovies'],drop_first=True)
contract = pd.get_dummies(telecom['Contract'],drop_first=True)
ppless_billing = pd.get_dummies(telecom['PaperlessBilling'],drop_first=True)
payment = pd.get_dummies(telecom['PaymentMethod'],drop_first=True)
churn = pd.get_dummies(telecom['Churn'],drop_first=True,prefix = 'churn')


telecom.drop(['gender','Partner','Dependents','PhoneService','MultipleLines','InternetService','OnlineSecurity','OnlineBackup','DeviceProtection','TechSupport','StreamingTV','StreamingMovies','Contract','PaperlessBilling','PaymentMethod','Churn'],axis=1,inplace=True)#concatenate new sex and embark column to our train dataframe
telecom = pd.concat([telecom,Gender,
partner,
dependents,
Phone_service,
multiple_lines,
internet,
online_sec,
online_backup,
device_protect,
tech_support,
st_tv,
st_movies,
contract,
ppless_billing,
payment,
churn],axis=1)#check the head of dataframe


telecom.head()

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,Male,Yes,Yes,Yes,No phone service,Yes,...,Yes,No internet service,Yes,One year,Two year,Yes,Credit card (automatic),Electronic check,Mailed check,churn_Yes
0,0,1,29.85,29.85,0,1,0,0,1,0,...,0,0,0,0,0,1,0,1,0,0
1,0,34,56.95,1889.50,1,0,0,1,0,0,...,0,0,0,1,0,0,0,0,1,0
2,0,2,53.85,108.15,1,0,0,1,0,0,...,0,0,0,0,0,1,0,0,1,1
3,0,45,42.30,1840.75,1,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
4,0,2,70.70,151.65,0,0,0,1,0,0,...,0,0,0,0,0,1,0,1,0,1

In [5]:
X = telecom.drop('churn_Yes',axis=1)

In [6]:
y = telecom['churn_Yes']

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [8]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)

X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

# Logistic Regression

In [9]:
from sklearn.linear_model import LogisticRegression
lm = LogisticRegression()
lm.fit(X_train,y_train)
predict = lm.predict(X_test)

In [10]:
from sklearn.metrics import classification_report

In [11]:
print('classification report LogisticRegression: \n', classification_report(y_test,predict))

classification report LogisticRegression:
               precision    recall  f1-score   support

           0       0.85      0.89      0.87      1580
           1       0.63      0.54      0.58       530

    accuracy                           0.81      2110
   macro avg       0.74      0.72      0.73      2110
weighted avg       0.80      0.81      0.80      2110

# Naive Bayes

In [12]:
from sklearn.naive_bayes import GaussianNB

In [13]:
gb = GaussianNB()

In [14]:
gb.fit(X_train,y_train)
predict = gb.predict(X_test)

In [15]:
print('classification report Naive Bayes: \n', classification_report(y_test,predict))

classification report Naive Bayes:
               precision    recall  f1-score   support

           0       0.92      0.59      0.72      1580
           1       0.41      0.84      0.55       530

    accuracy                           0.65      2110
   macro avg       0.66      0.72      0.63      2110
weighted avg       0.79      0.65      0.68      2110

# Decision Tree

In [16]:
from sklearn.tree import DecisionTreeClassifier

In [17]:
dfc = DecisionTreeClassifier(criterion='gini')

In [18]:
dfc.fit(X_train,y_train)
predict = dfc.predict(X_test)

In [19]:
print('classification report Decision Tree: \n', classification_report(y_test,predict))

classification report Decision Tree:
               precision    recall  f1-score   support

           0       0.83      0.79      0.81      1580
           1       0.45      0.52      0.48       530

    accuracy                           0.72      2110
   macro avg       0.64      0.65      0.65      2110
weighted avg       0.74      0.72      0.73      2110

# SVM

In [20]:
from sklearn.svm import SVC
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [21]:
svm_model=SVC()

In [22]:
svm_model.fit(X_train,y_train)

SVC()

In [25]:
svm_pred = svm_model.predict(X_test)

In [26]:
print('Confusion matrix:''\n', confusion_matrix(y_test, svm_pred))

print('Classification report:', classification_report(y_test, svm_pred))

Confusion matrix:
 [[1441  139]
 [ 266  264]]
Classification report:               precision    recall  f1-score   support

           0       0.84      0.91      0.88      1580
           1       0.66      0.50      0.57       530

    accuracy                           0.81      2110
   macro avg       0.75      0.71      0.72      2110
weighted avg       0.80      0.81      0.80      2110

# Random Forest

In [27]:
from sklearn.ensemble import RandomForestClassifier

In [28]:
rfc = RandomForestClassifier(random_state=101)

In [29]:
rfc.fit(X_train,y_train)

RandomForestClassifier(random_state=101)

In [30]:
predict = rfc.predict(X_test)

In [31]:
print('classification report Random Forest: \n', classification_report(y_test,predict))

classification report Random Forest:
               precision    recall  f1-score   support

           0       0.84      0.90      0.87      1580
           1       0.62      0.50      0.56       530

    accuracy                           0.80      2110
   macro avg       0.73      0.70      0.71      2110
weighted avg       0.79      0.80      0.79      2110

# KNN

In [32]:
from sklearn.neighbors import KNeighborsClassifier

In [33]:
nn = KNeighborsClassifier(n_neighbors=10)

In [34]:
nn.fit(X_train,y_train)

KNeighborsClassifier(n_neighbors=10)

In [35]:
predict = nn.predict(X_test)

In [36]:
print('classification report KNeighborsClassifier: \n', classification_report(y_test,predict))

classification report KNeighborsClassifier:
               precision    recall  f1-score   support

           0       0.83      0.89      0.86      1580
           1       0.59      0.45      0.51       530

    accuracy                           0.78      2110
   macro avg       0.71      0.67      0.69      2110
weighted avg       0.77      0.78      0.77      2110

In [37]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

class_model = []

class_model.append(("Logistic Regression", LogisticRegression(solver='liblinear')))
class_model.append(("GaussianNB", GaussianNB()))
class_model.append(("DecisionTreeClassifier", DecisionTreeClassifier(criterion='gini')))
class_model.append(("RandomForestClassifier", RandomForestClassifier(n_estimators=100,criterion='gini')))
class_model.append(("KNeighborsClassifier", KNeighborsClassifier(n_neighbors=10)))

for name, model in class_model:
    kfold = KFold(n_splits=10,random_state=None)
    result = cross_val_score(model, X, y, cv=kfold, scoring='accuracy')
    print(result.mean())

0.8041807432432432
0.6621128604681237
0.7248278481831114
0.7916643766972714
0.7828504865511444